@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* CSS RESET STYLES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Roboto Slab', serif;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}

/* HEADER STYLING */
header{
  background: #333;
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}
.logo h2{
  font-size: 4rem;
  font-weight: 600;
}
nav a{
  color: #f4f4f4;
  font-size: 2rem;
}
ul{
  display: flex;
  gap: 10rem;
}
/* 
This is another method to display the navigations side-by-side
li{
  display: inline-block;
} */


/* HERO SECTION STYLING */
.hero{
  position: relative;
  height: calc(100vh - 94px);
  /* 
  This is the other way to set a background image

  background: url(./images/showcase.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  background: url(./images/showcase.jpg) center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  gap: 3rem;
}
/* .hero::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4); */
  /* 
  background: rgb(0,0,0);
  background: #000;
  opacity: 0.4; 
}
  */
/* 
This is another process to center a div
.hero div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.specialText{
  color: rgb(247, 192, 138);
}
.hero h2{
  font-size: 5rem;
  font-weight: 600;
}
.hero p{
  font-size: 1.8rem;
  text-align: center;
  width: 45%;
}
.btn{
  padding: 2rem 4rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all .5s;
}
.btn-dark{
  color: #f4f4f4;
  background-color: #333;
}
.btn-white{
  color: #333;
  background-color: #fff;
}
.btn:hover{
  background-color: rgb(247, 192, 138);
  color: #333;
}

/* HISTORY SECTION STYLING */
.history{
  display: flex;
}
 .imgCtn{
  width: 50%;
}
.imgCtn img{ 
  width: 100%;
}
.textCtn{ 
  width: 50%;
  background: #333;
  color: #f4f4f4;
  padding: 4rem 6rem;
  text-align: center;
}
.textCtn h3{
  font-size: 3rem;
  font-weight: 600;
}
.textCtn p{
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 3rem;
  line-height: 1.8;
  margin-bottom: 6rem;
}
